@model CardCatalog.Models.Deck

@{
    ViewBag.Title = "Create a Deck";
    var expansions = (List<CardCatalog.Models.Indexes.ExpansionCardCount.Result>)ViewBag.Expansions;
}

@section scripts {
    <script>Urls.cardSearch = '@Url.Action("search", "card")';</script>
    <script>
        var expansions = @Html.Json(expansions.Select(e => e.Name));
        var initialDeck = { cards: [] };
    </script>
    <script src="@Url.Content("~/Scripts/deck-editor.js")" type="text/javascript"></script>
}

<h2>@ViewBag.Title</h2>

<div id="deck" data-bind="foreach: cards">
    <img data-bind="attr: { src: Urls.imageCard.replace('__id__', $data.Id()).replace('__side__', 0) }, click: function () { $root.removeCard($data); }" />
</div>

<div id="card-search"></div>
<div id="search-results" data-bind="foreach: cards">
    <img data-bind="attr: { src: Urls.imageCard.replace('__id__', $data.Id()).replace('__side__', 0) }, click: function() { $root.addCard($data); }" />
</div>
