#deck
{
    position: relative;
}

#active-card
{
    position: absolute;
    right: 0;
    top: 0;
}

.deck-container
{
}

.deck-column
{
    display: inline-block;
    vertical-align: top;

    width: 140px;
    margin-right: 5px;
    padding: 0px 0px 173px 0px;
}

.deck-card
{
    position: relative;
    overflow: visible;
    width: 140px;
    height: 22px;
}

.deck-card img
{
    width: 140px;
    height: 195px;
    border-radius: 6px;
}

.pager-left, .pager-right
{
    width: 20px;
    height: 650px;
    background-color: #eee;
    border: 1px solid #aaa;
}

.pager-left
{
    float: left;
    margin-right: 10px;
}

.pager-right
{
    float: right;
    margin-left: 10px;
}

.search-result
{
    width: 223px;
    height: 310px;
    display: inline-block;
    position: relative;
}

.search-result img
{
    border-radius: 9px;
}

.owned-count
{
    font-size: 12px;
    position: absolute;
    left: 23px;
    top: 40px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid black;
    padding: 3px;
}

.add-overlay
{
    display: none;

    width: 223px;
    height: 310px;
    position: absolute;
    left: 0;
    top: 0;

    background: none;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 9px;

    text-align: center;
}

.add-overlay button
{
    text-align: center;
    filter: alpha(opacity=100);
    opacity: 1.0;
    position: relative;
    top: 120px;
}

.search-result:hover .add-overlay
{
    display: block;
}