#deck
{
    position: relative;
}

#active-card
{
    position: absolute;
    right: 0;
    top: 0;
}

.deck-container
{
}

.deck-column
{
    display: inline-block;
    vertical-align: top;

    width: 140px;
    margin-right: 5px;
    padding: 0px 0px 173px 0px;
}

.deck-card
{
    position: relative;
    overflow: visible;
    width: 140px;
    height: 22px;
}

.deck-card img
{
    width: 140px;
    height: 195px;
    border-radius: 6px;
}

.pager-left, .pager-right
{
    width: 20px;
    height: 650px;
    background-color: #eee;
    border: 1px solid #aaa;
}

.pager-left
{
    float: left;
    margin-right: 10px;
}

.pager-right
{
    float: right;
    margin-left: 10px;
}